<!-- Button trigger modal -->
<button type="button" class="btn btn-outline-danger btn-sm remove" data-bs-toggle="modal" data-bs-target="#deleteBookmark">
  Remove the movie from the list
</button>

<!-- Modal -->
<div class="modal fade" id="deleteBookmark" tabindex="-1" aria-labelledby="deleteBookmarkLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="deleteBookmarkLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to remove <%= movie.title %> from the list ?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Don't remove it</button>
        <%= button_to "Remove from the list",
                      bookmark_path(bookmark),
                      method: :delete,
                      class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
