<h1>List : "<%= @list.name %>"</h1>

<div class="cards">
<% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.where(movie: movie,list: @list).first %>
  <%= render "card-movie", movie: movie, bookmark: bookmark %>
<% end %>
</div>
